.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .2s;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  color: #909090;
  height: 5rem;
  z-index: 250;

  &-main {
    width: 960px;
  }
}
