@import "../../assets/styles/color";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .2s;
  background: @white;
  border-bottom: 1px solid @border-bottom;
  color: #909090;
  height: 60px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  &-main {
    width: 960px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-home {
      display: flex;
      align-items: center;

      &-logo {
        width: 38px;
        height: 38px;
        background-image: url("../../assets/images/logo.svg");
      }

      &-title {
        width: 150px;
        height: 100%;
        margin-left: 5px;
        font-size: 26px;
        color: @title;
        font-family: "微软雅黑", "Georgia", "Comic Sans MS", "黑体", sans-serif;
        line-height: 60px;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-end;


      &-user-icon {
        width: 30px;
        height: 30px;
        margin-left: 15px;
        border-radius: 50%;
        background: center center no-repeat ;
        background-size: contain;
      }

      &-notice-icon {
        width: 45px;
        height: 100%;
        text-align: center;
        font-size: 22px;
        color: @gray;
        cursor: pointer;

        &:hover{
          color: @logo;
        }
      }

      &-btn{
        margin: 0 15px;
      }
    }
  }
}
